.cart-main {
  .cart-container {
    .cart-header {
      display: flex;
      height: 113px;
      justify-content: space-between;
      align-items: center;
      h1 {
        //float: left;
      }

      .header-content {
        float: right;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sub-1 {
          margin: 0;
        }
        .sub-2 {
          margin: 0;
        }
      }
    }

    .cart-table {
      tr td {
        vertical-align: top;
        text-align: left;
        padding-top: 15px;
      }
      .cart-table-header {
        text-align: left;
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 15px;
      }
      .cart-row {

        .item-image {
          width: 18%;
          img {
            width: 100%;
          }
        }
        .item-details {

        }
      }
    }
  }
}