.cart-main .cart-container .cart-header {
  display: flex;
  height: 113px;
  justify-content: space-between;
  align-items: center;
}
.cart-main .cart-container .cart-header .header-content {
  float: right;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-main .cart-container .cart-header .header-content .sub-1 {
  margin: 0;
}
.cart-main .cart-container .cart-header .header-content .sub-2 {
  margin: 0;
}
.cart-main .cart-container .cart-table tr td {
  vertical-align: top;
  text-align: left;
  padding-top: 15px;
}
.cart-main .cart-container .cart-table .cart-table-header {
  text-align: left;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 15px;
}
.cart-main .cart-container .cart-table .cart-row .item-image {
  width: 18%;
}
.cart-main .cart-container .cart-table .cart-row .item-image img {
  width: 100%;
}

/*# sourceMappingURL=cartPage.css.map */
