.info-main {
  padding-right: 32px;
  padding-left: 32px;
}
.info-main .main-section {
  height: 2300px;
  display: flex;
  justify-content: center;
}
.info-main .main-section .product-img-section .img-inner {
  display: flex;
}
.info-main .main-section .product-img-section .img-inner .img-section-gallery .gallery-inner {
  width: 64px;
  list-style: none;
  margin: 0 32px 0 0;
  padding: 0;
}
.info-main .main-section .product-img-section .img-inner .img-section-gallery .gallery-inner .img-ele {
  width: 100%;
}
.info-main .main-section .product-img-section .img-inner .img-section-gallery .gallery-inner .img-ele .img-ele-link img {
  width: 100%;
}
.info-main .main-section .product-img-section .img-inner .img-section-big .img-big-top .image-wrap {
  padding-left: 0;
  margin-right: 32px;
}
.info-main .main-section .product-img-section .img-inner .img-section-big .img-big-top .image-wrap .img-ele a img {
  width: 100%;
}
.info-main .main-section .product-profile .product-content .product-content-profile ul {
  padding-left: 0;
}
.info-main .main-section .product-profile .product-content .product-content-profile ul .profiles {
  list-style: none;
}
.info-main .main-section .product-profile .product-content .product-content-profile ul .profiles .profile-items .swatch {
  list-style: none;
  padding-left: 0;
}
.info-main .main-section .product-profile .product-content .product-content-profile ul .profiles .profile-items .swatch .selected a .swatchanchor-label .checked-icon {
  background: url("../../../../Component/images/checked.png");
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  left: 0;
}
.info-main .main-section .product-profile .product-content .product-content-profile ul .profiles .profile-items .swatch .selected a .swatchanchor-label i {
  display: none;
}
.info-main .main-section .product-profile .cart-container {
  border-top: 1px solid #ebebeb;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 99;
  padding: 15px 0;
}
.info-main .main-section .product-profile .cart-container .cart-container-wrapper {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.info-main .main-section .product-profile .cart-container .cart-container-wrapper .cart-container-detail {
  margin-right: auto;
  float: left;
}
.info-main .main-section .product-profile .cart-container .cart-container-wrapper .cart-container-detail .cart-name {
  display: block;
  float: left;
}
.info-main .main-section .product-profile .cart-container .cart-container-wrapper .cart-action {
  display: flex;
  align-items: center;
}
.info-main .main-section .product-profile .cart-container .cart-container-wrapper .cart-action .cart-add .cart-add-qty input {
  width: 32px;
  height: 42px;
}
.info-main .main-section .product-profile .cart-container .cart-container-wrapper .cart-action .cart-add .cart-add-qty .cart-add-btn {
  margin-left: 15px;
  height: 48px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  width: 108px;
}
.info-main .main-section .product-profile .cart-container .cart-container-wrapper .cart-action .cart-info {
  padding: 0 15px;
  display: flex;
  float: left;
  align-items: center;
  flex-direction: row-reverse;
}
.info-main .main-section .product-profile .cart-container .cart-container-wrapper .cart-action .cart-info .cart-info-avail .avail-msg i {
  margin-right: 15px;
}
.info-main .main-section .product-profile .cart-container .cart-container-wrapper .cart-action .cart-info .cart-info-price {
  float: right;
}
.info-main .main-section .product-profile .cart-container .cart-container-wrapper .cart-action .cart-info .cart-info-avail {
  float: left;
  margin-right: 15px;
}
.info-main .main-section .product-profile .cart-container .cart-container-wrapper .cart-action .cart-add {
  float: right;
}

/*# sourceMappingURL=mainSection.css.map */
