.info-main {
  padding-right: 32px;
  padding-left: 32px;

  .main-section {
    height: 2300px;
    display: flex;
    justify-content: center;

    .product-img-section {
      .img-inner {
        display: flex;

        .img-section-gallery {
          .gallery-inner {
            width: 64px;
            list-style: none;
            margin: 0 32px 0 0;
            padding: 0;

            .img-ele {
              width: 100%;

              .img-ele-link img {
                width: 100%;
              }
            }
          }
        }

        .img-section-big {
          .img-big-top {
            .image-wrap {
              padding-left: 0;
              margin-right: 32px;

              .img-ele {
                a {
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }

          .img-big-bottom {

          }
        }
      }
    }

    .product-profile {
      .product-content {
        .product-content-profile {
          ul {
            padding-left: 0;
            .profiles {
              list-style: none;

              .profile-label {

              }

              .profile-items {
                .swatch {
                  list-style: none;
                  padding-left: 0;

                  .selected {
                    a .swatchanchor-label .checked-icon {
                      background: url('../../../../Component/images/checked.png');
                      background-size: 18px 18px;
                      width: 18px;
                      height: 18px;
                      display: inline-block;
                      position: relative;
                      left: 0;
                    }

                    a .swatchanchor-label i {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .cart-container {
        border-top: 1px solid #ebebeb;
        background-color: #ffffff;
        position: fixed;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        z-index: 99;
        padding: 15px 0;

        .cart-container-wrapper {
          padding: 0 15px;
          display: flex;
          align-items: center;

          .cart-container-detail {
            margin-right: auto;
            float: left;

            .cart-name {
              display: block;
              float: left;
            }
          }

          .cart-action {
            //display: block;
            display: flex;
            align-items: center;

            .cart-add {
              .cart-add-qty {
                input {
                  width: 32px;
                  height: 42px;
                }

                .cart-add-btn {
                  margin-left: 15px;
                  height: 48px;
                  background-color: red;
                  border: none;
                  color: white;
                  border-radius: 5px;
                  width: 108px;
                }
              }
            }

            .cart-info {
              //display: inline-block;
              padding: 0 15px;
              display: flex;
              float: left;
              align-items: center;
              flex-direction: row-reverse;

              .cart-info-avail {
                .avail-msg {
                  i {
                    margin-right: 15px;
                  }
                }
              }

              .cart-info-price {
                float: right;
              }

              .cart-info-avail {
                float: left;
                margin-right: 15px;
              }
            }

            .cart-add {
              float: right;
            }
          }
        }
      }
    }
  }
}