//Action Bar

.action-bar {
  position: relative;
  background: #fafafa;
  height: 45px;
}

.action-wrapper {

}

.action-wrapper-inner {
  position: relative;
}

.action-bar ul li {
  display: inline-block;
}

.action-bar ul {
  list-style-type: none;
  line-height: 48px;
}

.action-left {
  position: absolute;
  margin: 0;
}

.action-left li {
  border-right: 1px solid #ebebeb;
  width: 84px;
  height: 44px;
}

.action-left li.active {
  border-left: 1px solid #ebebeb;
  border-bottom: 2px solid #0d75cb;
}

.action-center {
  text-align: center;
}

.action-right {
  right: 50px;
  position: absolute;
  top: 0;
  margin: 0;
}

.right__account {
  margin-right: 16px;
}

.right__account .right__account-userpanel {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 99;
  border: 1px solid #ebebeb;
}

.right__account-userpanel a {
  display: block;
  text-decoration: none;
  text-align: left;
}

//Nav Bar
.nav-bar {
  border-bottom: 1px solid #ebebeb;
}

.nav-wrapper {
}

.nav-wrapper__inner {
  position: relative;
}

.icon {

}

.nav-logo {
  position: absolute;
}

#navigation {
  display: block;
  text-align: center;
}

#navigation ul {
  padding: 0;
  list-style: none;
}

#navigation ul li {
  display: inline-block;
}

.lev-1 {
  margin: 0;
  height: 87px;
}

.lev-1 li {
  margin: 0;
  vertical-align: center;
  padding: 0 12px;
  line-height: 87px;
}

.header-search {
  display: block;
  position: absolute;
  right: 50px;
  top: 20px;
}

.header-search__input {
  height: 1.5rem;
  line-height: 1.25rem;
  width: 10rem;
  padding-left: 2.5rem;
}

.header-search__button {
  position: absolute;
  left: 8px;
  top: 14px;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
}


