.filter-bar__left {
  display: flex;
}

.filter-bar__left .filter-ele {
  position: relative;
  margin-right: 24px;
  display: flex;
  float: left;
}

.filter-bar__sort {
  display: flex;
  align-items: center;
}

.search-product-content {

}

.search-product-content ul li {
  list-style: none;
  display: inline-block;
}

.search-product-content .grid-tile {
  width: 25%;
  text-align: left;
  //position: relative;
  //list-style: none;
  //vertical-align: top;
}

.product-tile {
  padding: 0 15px 5% 15px;
  margin-bottom: 72px;
  max-height: 850px;
}

.search-product-content .product-tile .product-img {
  position: relative;
}

.search-product-content .product-tile .product-img .img-link{
  display: block;
  position: relative;
  //width: 100%;
  //height: 100%;
}

.search-product-content .product-tile .product-img .img-link img{
  width: 100%;
}

#search-product-items {
  //max-width: 1600px;
}

.search-product-content .product-tile .product-content-swatch ul li {
  display: block;
  width: 20px;
  height: 20px;
  margin: 2px;
  overflow: hidden;
  display: inline-block;
}

.product-content-price h3 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 14px;
}

.product-content-name a h3 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 14px;
}

.product-content-swatch ul{
  padding-left: 0;
}

.search-product-content .product-tile .product-content-name a{
  text-decoration: none;
  color: #252525;
  font-size: 14px;
  font-weight: 700;
}
